body{
    font-family: 'Open Sans', sans-serif;
}

::placeholder {
    color: #6b6f6c;
    opacity: 1;
}
  
:-ms-input-placeholder { 
    color: #6b6f6c;
}
  
::-ms-input-placeholder { 
    color: #6b6f6c;
}

.container{
    width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        font-weight: 600;
        color: #393c3a;
        font-size: 46px;
    }
    .form{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
        &-input{
            width:450px;
            height: 100%;
            border-radius: 5px;
            border: 1px solid #d2d2d2;
            outline: 0;
            font-size: 20px;
            text-indent: 24px;
        }
        &-button{
            width: 60px;
            height: 100%;
            border: 0;
            outline: 0;
            cursor: pointer;
            background-color: #19b72d;
            color: white;
            border-radius: 100%;
            transition: all 0.4s;
            &:hover{
                background-color: #22cc38;
            }
            i{
                font-size: 27px;
                color: #ffffff;
            }
        }

        .filter{
            height: 100%;
            select{
                height: 100%;
                outline: 0;
                border: 1px solid #c7c7c7;
                border-radius: 5px;
                font-size: 22px;
                text-indent: 11px;
                color: #555556;
                cursor: pointer;
            }
        }
    }

    .list{
        width: 100%;
        margin-top: 5%;
        &-item{
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #eae6e6;
            opacity: 1;
            transition: all 0.5s;
            padding: 0 17px;
            background-color: white;
            p{
                max-width: 570px;
                line-height: 1.8;
                font-size: 19px;
                color: #6c6b6c;
            }
            &.deleted{
                opacity: 0;
            }
            &.checked{
                opacity: 0.6;
                p{
                    text-decoration: line-through;
                }
            }
        }
        &-actions{
            button{
                width: 50px;
                height: 35px;
                font-size: 15px;
                border: 0;
                color: white;
                outline: 0;
                cursor: pointer;
                border-radius: 4px;
                &:first-child{
                    background-color: #19b72d;
                    margin-right: 9px;
                    transition: all 0.4s;
                    &:hover{
                        background-color: #22cc38;
                    }
                  
                }
                &:last-child{
                    background-color: #ff3737;
                    transition: all 0.4s;
                    &:hover{
                        background-color: #f86161;
                    }
                }
            }
            i{
                pointer-events: none;
            }
        }
    }
}